// @import 'name of file',__e, --m
*{
  margin: 0px;
  padding: 0px;
}

.node{
  padding: 10px;
}

.child-nodes{
  margin-left: 12px;
  &--hidden{
    display: none;
  }
}

.fa-plus{
  cursor: pointer;
}
